@model NetcoreOnlineShop.Application.ViewModels.Page.PageViewModel
@{
    ViewData["Title"] = Model.Name;
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>@Model.Name</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="blog_post">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-meta-data">
                        <div class="blog-top-desc">
                            <div class="blog-date">@Model.CreatedDate.ToString("dd MMM yyyy")</div>
                            <h1><a href="blog_single_post.html">@Model.Name</a></h1>
                            <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i>
                            <strong>Admin</strong> @*<a href="#"><i class="fa fa-commenting-o"></i> 
                                <strong>15 Comments</strong></a>*@ 
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div></div>
                        </div>
                    </div>
                    <div class="content-text clearfix">
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
<partial name="_ServicePartial">
