<div class="modal fade bd-example-modal-sm" id="subscription-popup" style="border:none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width:390px">
        <div class="modal-content" style="background-color:transparent">
            <div class="modal-body" style="padding:0px!important">
                <img src="~/client-side/images/newsletter.png" alt="newsletter"/>
            </div>
        </div>
    </div>
</div>