.hideBorder {
    border: none;
    font-size: large;
    font-weight: bolder;
    width: 550px
}

.slide-option {
    margin-left: 200px;
    margin-top: 50px
}

input[type="text"].borderLess {
    border: none;
    width: 50px
}

form.form-font label {
    font-family: Tahoma;
    border-radius: 3px;
    box-shadow: inherit;
}

form.form-font input {
    font-family: 'Times New Roman';
    border-radius: 3px;
    box-shadow: inherit;
    border: 1px solid #d6d4d4;
    font-size: 14px
}

table {
    font-family: 'Times New Roman';
    font-size: small
}

select {
    font-family: 'Times New Roman';
    font-size: small
}

.select-style {
    width: 180px;
    height: 23px;
    border-radius: 3px;
    background-color: #ffffff;
}

.top-space {
    margin-top: 10px;
}

.chart-drawn {
    vertical-align: text-bottom;
}

.panel-size {
    height: 551px;
}

.styleLogout {
    padding: 12px 20px;
    color: #5A738E;
    font-size: 12px;
}

.profile {
    border: 0;
    padding: 0px 0;
}
