<div class="modal fade bd-example-modal-sm" id="frm-popup-basket" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width:450px">
        <div class="modal-content">
            <div class="modal-header style-header" style="background-color:#f4f4f4">
                <h5 class="modal-title basket-header-detail" id="exampleModalLabel">1 item added to basket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="close-style">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xs-6 basket-img">

                    </div>
                    <div class="col-sm-8 col-md-8 col-xs-8">
                        <div>
                            <div class="col-sm-12 col-md-12 col-xs-12"><span class="basket-product-name"></span></div>
                            <div class="col-sm-12 col-md-12 col-xs-12"><span class="basket-product-color"></span></div>
                            <div class="col-sm-12 col-md-12 col-xs-12"><span class="basket-product-size"></span></div>
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <span class="basket-product-price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xs-6">
                        <input type="button" class="btn btn-primary btn-block" id="btn-checkout" value="Go to checkout" />
                    </div>
                    <div class="col-sm-6 col-md-6 col-xs-6">
                        <input type="button" class="btn btn-light btn-block" id="btn-go-cart" value="Go to cart" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>