@model NetCoreOnlineShop.Models.CommonViewModel.RightSideBarViewModel

<div class="block popular-tags-area hidden-sm hidden-xs">
    <div class="sidebar-bar-title">
        <h3>Popular Tags</h3>
    </div>
    <div class="tag">
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li><a href="products-by-tag-@(tag.Id).html">@tag.Name</a></li>
            }
        </ul>
    </div>
</div>