
@{
    ViewData["Title"] = "Reset password email sent";
}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Forgot Password</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div>
        <div class="main container">
            <div class="page-content">
                <div class="account-login">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <div class="single-input p-bottom50 clearfix">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 style="color:green">Recover your account password</h4>
                                    <label>A request password link has been sent to your email address.</label>
                                    <label>Please click on the link that has just been sent to your email address to reset your account password.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
@await Component.InvokeAsync("Service")