@model ResetPasswordViewModel
@using PaulMiami.AspNetCore.Mvc.Recaptcha
@{
    ViewData["Title"] = "Reset Password";
}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Recover Password</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8">
                    <div class="single-input p-bottom50 clearfix">
                        <form method="post">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="check-title">
                                        <h4>Recover Password</h4>
                                    </div>
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-sm-8">
                                    <label>Password:</label>
                                    <div class="input-text">
                                        <input asp-for="@Model.Password" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <label>Confirm password:</label>
                                    <div class="input-text">
                                        <input asp-for="@Model.ConfirmPassword" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div>
                                        <br />
                                        <recaptcha type="RecaptchaType.Image" />
                                        <span class="text-danger" id="recaptchaErrorMessage"></span>
                                    </div><br />
                                    <div class="submit-text">
                                        <button type="submit" class="button"><i class="fa fa-user"></i>&nbsp; <span>Submit</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
@await Component.InvokeAsync("Service")
<!--Service section-->
<!--End Service section-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}